In [35]:
import pandas as pd
import json
import os

In [36]:
dir_path = "../../../backend/source/forms"

In [37]:
files = [f for f in os.listdir(dir_path) if "prod.json" in f]

In [38]:
files

['1699353915355.prod.json',
 '1701757876668.prod.json',
 '1701172125596.prod.json',
 '1699354006503.prod.json',
 '1710731783595.prod.json',
 '1701762893741.prod.json',
 '1709689683440.prod.json']

In [39]:
qs_duplicated = {}
opt_duplicated = {}
questions = []
options = []
for form_file in files:
    file_path = os.path.join(dir_path, form_file)
    with open(file_path, 'r') as json_file:
        data = json.load(json_file)
    questions += [{
        "form": data["id"],
        "question_id": q["id"],
        "question_name": q["name"],
        "options": q.get("options"),
        "question_group": qg["id"],
    } for qg in data["question_groups"] for q in qg["questions"]]

for q in questions:
    if q.get("options"):
        for o in q["options"]:
            options.append({
                "form": q["form"],
                "question_id": q["question_id"],
                "option_id": o.get("id"),
                "option_name": o.get("value"),
            })
    # print(qs_have_options)
qs = pd.DataFrame(questions)
op = pd.DataFrame(options)

In [42]:
qs[qs.duplicated(subset=["question_id"], keep=False)]

,form,question_id,question_name,options,question_group
164,1701757876668,1713498651,school_respondent_role_other,None,1701757914032
358,1701762893741,1713498651,respondent_role_other,None,1701772767993

In [41]:
op[op.duplicated(subset=["option_id"])].sort_values(by="option_id")

,form,question_id,option_id,option_name
53,1699353915355,1711626271,1710743655,g0_no_toilet
102,1699353915355,1711626463,1710743655,g0_no_toilet
95,1699353915355,1711626447,1710743655,g0_no_toilet
88,1699353915355,1711626430,1710743655,g0_no_toilet
74,1699353915355,1711626377,1710743655,g0_no_toilet
67,1699353915355,1711626360,1710743655,g0_no_toilet
81,1699353915355,1711626412,1710743655,g0_no_toilet
109,1699353915355,1711627430,1710743655,g0_no_toilet
60,1699353915355,1711626326,1710743655,g0_no_toilet
659,1701172125596,1701331306965,1715937651,g0_no_toilets
663,1701172125596,1701331373050,1715937651,g0_no_toilets
671,1701172125596,1701331908015,1715937651,g0_no_toilets
675,1701172125596,1701332234354,1715937651,g0_no_toilets
667,1701172125596,1701331438759,1715937651,g0_no_toilets
107,1699353915355,1711626463,17157752198,hh_member_9_g2_use_own_toilet_with_assistance
75,1699353915355,1711626377,1699428581174,hh_member_5_g0_no_toilet_use_practice_od
68,1699353915355,1711626360,1699428581174,hh_member_4_g0_no_toilet_use_practice_od
110,1699353915355,1711627430,1699428581174,hh_member_10_g0_no_toilet_use_practice_od
82,1699353915355,1711626412,1699428581174,hh_member_6_g0_no_toilet_use_practice_od
61,1699353915355,1711626326,1699428581174,hh_member_3_g0_no_toilet_use_practice_od
103,1699353915355,1711626463,1699428581174,hh_member_9_g0_no_toilet_use_practice_od
89,1699353915355,1711626430,1699428581174,hh_member_7_g0_no_toilet_use_practice_od
54,1699353915355,1711626271,1699428581174,hh_member_2_g0_no_toilet_use_practice_od
96,1699353915355,1711626447,1699428581174,hh_member_8_g0_no_toilet_use_practice_od
105,1699353915355,1711626463,1699428581175,hh_member_9_g1_use_other_hh_toilet_shared`
112,1699353915355,1711627430,1699428581175,hh_member_10_g1_use_other_hh_toilet_shared`
70,1699353915355,1711626360,1699428581175,hh_member_4_g1_use_other_hh_toilet_shared`
56,1699353915355,1711626271,1699428581175,hh_member_2_g1_use_other_hh_toilet_shared`
63,1699353915355,1711626326,1699428581175,hh_member_3_g1_use_other_hh_toilet_shared`
84,1699353915355,1711626412,1699428581175,hh_member_6_g1_use_other_hh_toilet_shared`
77,1699353915355,1711626377,1699428581175,hh_member_5_g1_use_other_hh_toilet_shared`
98,1699353915355,1711626447,1699428581175,hh_member_8_g1_use_other_hh_toilet_shared`
91,1699353915355,1711626430,1699428581175,hh_member_7_g1_use_other_hh_toilet_shared`
115,1699353915355,1711627430,1699428651604,hh_member_10_g2_use_own_toilet_not_shared
94,1699353915355,1711626430,1699428651604,hh_member_7_g2_use_own_toilet_not_shared
101,1699353915355,1711626447,1699428651604,hh_member_8_g2_use_own_toilet_not_shared
87,1699353915355,1711626412,1699428651604,hh_member_6_g2_use_own_toilet_not_shared
80,1699353915355,1711626377,1699428651604,hh_member_5_g2_use_own_toilet_not_shared
73,1699353915355,1711626360,1699428651604,hh_member_1_g2_use_own_toilet_not_shared
66,1699353915355,1711626326,1699428651604,hh_member_3_g2_use_own_toilet_not_shared
59,1699353915355,1711626271,1699428651604,hh_member_2_g2_use_own_toilet_not_shared
108,1699353915355,1711626463,1699428651604,hh_member_9_g2_use_own_toilet_not_shared
692,1701172125596,1701334423738,1701332582354,g0_no_toilet_no_containment_system
683,1701172125596,1701332496414,1701332582355,g0_pit_or_tank_overflows_to_open
694,1701172125596,1701334423738,1701334491522,g0_unsafe_disposal_to_open_pit_open_space_open...
737,1701172125596,1701359046016,1701358615411,g0_no_handwashing_facility
830,1699354006503,1699960591715,169996093813499,other_institutions